name: publish npm

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: publish-npm
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dsherret/rust-toolchain-file@v1
    - name: Install wasm32 target
      run: rustup target add wasm32-unknown-unknown
    - name: Build release
      run: cargo build --target wasm32-unknown-unknown --features wasm --release

    - uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Setup and test npm deployment
      run: |
        cd deployment/npm
        npm install
        node setup.js sync-version
        npm run test
    - name: npm publish
      run: |
        cd deployment/npm
        npm publish --access public
